    <div align="center" class="footer">
    <br />
    <a href="https://twitter.com/TheRaincrash" class="twitter-follow-button" data-show-count="false" data-size="large" data-dnt="true">Follow @TheRaincrash</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    <br/>
    <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" property="dct:title" rel="dct:type">Bits, Pixels and Atoms</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="mailto:sricharanized@gmail.com" property="cc:attributionName" rel="cc:attributionURL">Sricharan Chiruvolu</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons License.</a><br/>
    </div>
  </body>
</html>
