<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ site.baseurl }}">Home</a>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ site.baseurl }}about" >ABOUT</a></li>
        <li><a href="{{ site.baseurl }}blog.html" >BLOG</a></li>
        <li><a href="{{ site.baseurl }}projects.html">PROJECTS</a></li>
        <li><a href="https://docs.google.com/document/d/1ys_igRW7YjfDQgcGgvucDPIPboPMm_Q-Ih6No_mzYj8/edit?usp=sharing" target="_blank">RESUME</a></li>
      </ul>
    </div>
  </div>
</nav>
