<section id="projects">
<div class="container">
  <h3>Notable Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
  <h5><i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="#">Distributed GA for Pharmacogenomic applications (2015)</a></strong>
  A bioinformatics research project on parallel Genetic Algorithms implemented on GPGPUs for pharmaco-genomics on drug and tissue data.</h5>
  <h5><i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="#">Light modelling and shadow maps (2015)</a></strong> Generated a lighting system, added support for point, directional, spot and ambient lights; Implemented an optimized shadow mapping mechanism (CSM); Added option to toggle shadows based on GPU system used to render.</h5>
  <h5><i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="#">EyeTrakr (2015</a></strong>. Eye tracking using EyeTribe™ for heatmap overlay generation to present advertisement analytics for webpages.
</h5>
  <h5><i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="#">
Raybox (2014)</a></strong> An image synthesis system based on ray-tracing which includes reflections, refractions, soft shadows and depth of field.</h5>
  <h5><i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="#">Classbox (2014)</a></strong> A complete productivity suite for schools and colleges to interact effectively. Features include an interactive drawing board, chat rooms, dedicated forums, quiz generation and analytics, push notifications e.t.c.</h5>
  <h5><i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="#">
FOSS Contributions</a></strong> Contributed to various open-source organizations including, Copyleft Games (pysoy, libsoy modules), Codrspace, Quora-backup and learn-x-in-y-minutes.</h5>

    </div>

    <div class="panel-body">
		<small style="text-align:center; color:red;"> Visualization of my github repositories. Give it a second to load. Some viewports might not support this visualization.</small>
		<iframe src="http://ghv.artzub.com/#user=raincrash" width="800" height="800"></iframe>
    </div>

  </div>
</div>
</section>
