<html>
  <head>
    <meta content='{{ site.title }}' property='og:title' />
    <title>{{ site.title }}</title>
    {% include head.html %}
  </head>
  <body>
    {% include header.html %}
    <p id="whoami">
      <span class="down">pretends to understand computer science, believes in open source and reads manga<br/></span>Currently pursuing a CS undergrad from Bengaluru, India
    </p>
    <div id='container'>
      {% include links.html %}
      <div class="content">
        {{ content }}
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>